# Don't sync FiveM data just the folder itself
server/secrets/*
!server/secrets/example.cfg

# Don't sync FiveM data just the folder itself
artifact/*
!artifact/.gitkeep

# Don't sync MariaDB data just the folder itself
mariadb/*
!mariadb/.gitkeep

#FiveM garbage files
server-data/cache/*
cache/*
node_modules/
*.log
imgui.ini


# PAID ASSETS, PURCHASE THEM YOURSELF AND INCLUDE THEM, DON'T STEAL
gabz_hub
gabz_mrpd
gabz_pillbox