# Anything secret goes in this section so it's not accidently pushed to the github
exec secrets/dev.cfg

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 7

sv_hostname "ChiRP Development"
sets sv_projectName "ChiRP Development"
set liveserver false

exec shared.cfg
start [dev]

# Hide from fiveM directory
sv_master1 ""
#sv_lan 1 -- Breaks whitelist
set svgui_disable true